body {
	min-width: 32rem;
	font-family: var(--ff-normal-400b);
	font-size: var(--fs-320-16);
	color: var(--clr-primary-100);
	background-color: var(--clr-accent-200);
	font-weight: 400;
	font-style: normal;
}

.VisuallyHidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
