@font-face {
	font-family: AvenirNextBold;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/avenirNext/AvenirNext-Bold.ttf") format("truetype");
}

@font-face {
	font-family: AvenirNextRegular;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/avenirNext/AvenirNext-Regular.ttf") format("truetype");
}

@font-face {
	font-family: AvenirNextMedium;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/avenirNext/AvenirNext-Medium.ttf") format("truetype");
}

@font-face {
	font-family: OpenSans-Bold;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/openSans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: OpenSans-Italic;
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/openSans/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
	font-family: OpenSans-Regular;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/openSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: OpenSans-SemiBold;
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/openSans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: PlayfairDisplay-Regular;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/playfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
	font-family: PlayfairDisplay-Bold;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/playfairDisplay/PlayfairDisplay-Bold.ttf") format("truetype");
}

@font-face {
	font-family: Roboto-Regular;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
