$colors: (
	primary: (
		100: hsl(240deg, 2%, 19%),
		200: hsl(280deg, 8%, 8%),
		300: hsl(0deg, 0%, 0%)
	),
	secondary: (
		100: hsl(0deg, 0%, 100%)
		),
	accent: (
		100: hsl(11deg, 63%, 95%),
		200: hsl(200deg, 100%, 99%),
		300: hsl(6deg, 77%, 95%)
	),
	neutral: (
		100: hsla(280deg, 8%, 8%, 10.2%),
		200: hsla(0deg, 0%, 0%, 40%),
		300: hsl(240deg, 0%, 59%),
		400: hsl(252deg, 4%, 27%),
		500: hsl(240deg, 2%, 20%),
		600: hsl(0deg, 0%, 90%),
		700: hsla(0deg, 0%, 0%, 20%),
		800: hsla(0deg, 0%, 0%, 30.2%),
		900: hsla(0deg, 0%, 0%, 10.2%),
		1000: hsl(0deg, 0%, 74%),
		1100: hsl(0deg, 0%, 70%),
		1200: hsla(0deg, 0%, 0%, 5.1%),
		1300: hsla(0deg, 0%, 0%, 3.1%),
		1400: hsl(240deg, 2%, 19%)
	)
);
