$fonts: (
	normal: (
		"400a": "AvenirNextRegular",
		"400b": "OpenSans-Regular",
		"400c": "PlayfairDisplay-Regular",
		"400d": "Roboto-Regular",
		"500": "AvenirNextMedium",
		"600": "OpenSans-SemiBold",
		"700a": "AvenirNextBold",
		"700b": "OpenSans-Bold",
		"700c": "PlayfairDisplay-Bold"
	),
	italic: (
		"400": "OpenSans-Italic"
	)
);
